.page {
  height: fit-content;
  margin: 5%;
}

// Experience
.experience {
  .col-md-6:first-child {
    width: 30%;
  }
  .col-md-6:last-child {
    width: 70%;
  }
  @media (max-width: 768px) {
    flex-direction: column;

    .col-md-6:first-child,
    .col-md-6:last-child {
      flex-basis: 100%;
      width: 100%;
    }
  }
}
// Skills
.skills-section {
  margin-bottom: 2%;
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    @media (max-width: 768px) {
      justify-content: center;
      flex-direction: column;
      flex-basis: 100%;
      flex-wrap: nowrap;
      padding-bottom: 20px;
      h4 {
        padding-top: 10px;
      }
    }
    .skills-item {
      display: flex;
      align-items: center;
      gap: 5%; /* Adds space between the icon and text. */
      font-size: 1.2em;
      flex-basis: calc(20% - 25px); /* Adjusted for 5 items per row. */
      text-align: left;

      .fa-icon {
        color: #89cff0;
        justify-self: flex-start;
      }
    }
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

// Project Card
.project {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  }

  .MuiCardHeader-root {
    padding: 16px;
    background-color: #f5f5f5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .header-content {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
      .fa-link {
        color: #0056b3;
      }
    }

    .title-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .title {
      flex: 1;
      font-size: 0.6em;
    }

    a {
      color: #333;
      text-decoration: none;
      font-size: 1.2em;
    }

    .badge {
      margin-left: 8px;
      margin-top: 2px;
      font-size: 0.6em;
      background-color: #0056b3;
      color: #fff;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  .MuiCardContent-root {
    padding: 16px;

    .MuiTypography-body2 {
      color: #666;
    }
  }
}

// Contact

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  @media (max-width: 768px) {
    width: 100%;
    padding: 0px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    width: 100%;
  }
}

.contact-form label {
  font-size: 1.2em;
  margin-bottom: 8px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

.contact-form button {
  background-color: #2e2d2d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #000000;
}
