.top-nav-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 9999;

  .logo {
    height: 70px;
    margin-right: 20px;
  }
}

.top-nav-item {
  text-decoration: none;

  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
      background-color: black;
      color: white;
    }

    &.active {
      background-color: black;
      color: white;
    }
  }
}
